@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: bb;
  src: url(/fonts/bold.woff2);
}

@font-face {
  font-family: ll;
  src: url(/fonts/light.woff2);
}

@font-face {
  font-family: mm;
  src: url(/fonts/meduim.woff2);
}

body,
html {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: #000;
  color: #f7f3ef;
}

.main {
  position: relative;
  width: 100%;
}

.bb {
  font-family: bb;
}

.mm {
  font-family: mm;
}

.ll {
  font-family: ll;
}

.bg {
  background-color: #f7f3ef;
}

.nav-link {
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

.nav-link:hover {
  border-radius: 0.5vw;
  /* color: white; */
  border-color: #000;
}

.nav-link:hover::before {
  top: 0;
}
